
.horizontal-blocks-embed-view-container > .view-content > .markdown-source-view.mod-cm6 > .cm-editor > .cm-scroller {
  container-type: normal !important;
}




.horizontal-block-container {
  display: flex;
  width: 100%;
  min-height: 50px;
}

@container (width <= 530px) {
  .cm-sizer .horizontal-block-container,
  .markdown-preview-sizer .horizontal-block-container {
    display: block;
  }

  .hblocks-resizer {
    height: 1.5em;
  }

  .hblocks-resizable {
    width: 100% !important
  }
}



.hblocks-resizable {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


.hblocks-md-preview {
  flex: 1;
  font-size: var(--font-small);
}

.horizontal-blocks-embed .markdown-source-view {
  font-size: var(--font-small);
}

/* Remove default margins from first and last elements in preview */
.hblocks-md-preview > :first-child {
  margin-top: 0;
}

.hblocks-md-preview > :last-child {
  margin-bottom: 0;
}

.hblocks-resizer {
  width: 3px;
  border-left: 3px solid var(--interactive-accent);
  opacity: 0;
  cursor: col-resize;
  user-select: none;
  margin: 0 1em;
}

.hblocks-resizer:hover {
  opacity: 1;
}


.hblocks-flex-grow {
  flex: 1;
}

.hblocks-flex-fixed {
  flex: 0 0 auto;
  width: auto;
}

/* Use CSS custom properties set on the container to control block widths */

.horizontal-block-container .hblocks-resizable.hblocks-flex-fixed.hblocks-has-width {
  width: var(--hblocks-width);
  flex: 0 0 var(--hblocks-width);
}


.hblocks-resizing-cursor {
  cursor: col-resize !important;
}

/* Drag active highlight */


.horizontal-blocks-embed-container {
  width: 100%;
  display: flex;
}

.horizontal-blocks-embed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.horizontal-blocks-embed-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.horizontal-blocks-embed .view-header {
  display: none;
}

.horizontal-blocks-embed .view-content {

  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.horizontal-blocks-embed .markdown-source-view {

  padding: 0;
  margin: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.horizontal-blocks-embed .cm-editor {

  padding: 0;
  margin: 0;
  height: 100% !important;
  flex: none !important;

}

.horizontal-blocks-embed .cm-scroller {

  padding: 0 !important;
  margin: 0;
  height: auto !important;
  max-height: 100% !important;

}






.horizontal-blocks-embed .view-content {
  padding: 0 var(--file-margins);
}

.horizontal-blocks-embed .cm-s-obsidian .cm-gutters,
.horizontal-blocks-embed .cm-s-obsidian .cm-content {
  padding-top: 0;
  padding-bottom: 0 !important;
}






